<%- column_div :type => :primary do -%>
  <h2>Transactions</h2>
  <ul class="list activity full">
    <%= render :partial => 'shared/transact', :collection => @transactions %> 
  </ul>
<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>
