<%= column_div :type => :primary do -%>
  <h2><%= t('transacts.show.header') %></h2>
  <ul class="list activity full">
    <%= render :partial => 'shared/transact', :collection => [@transact] %>
  </ul>
<%- end -%>
