<div style="text-align: center; margin-bottom: 10px;">
<%= link_to_unless_current "Inbox", messages_path %> |
<%= link_to_unless_current "Sent", sent_messages_path %> |
<%= link_to_unless_current "Trash", trash_messages_path %>
</div>