<ul id="message-nav">
  <%= list_link_with_active "Inbox", messages_path %>
  <%= list_link_with_active "Sent", sent_messages_path %>
  <%= list_link_with_active "Trash", trash_messages_path %>
  <%# TODO: be able to select people on the messages page %>
  <!-- <li class="compose"><%= link_to "New message", new_message_path %></li> -->
</ul>