<ul id="message-nav">
  <%= list_link_with_active t('messages.index.inbox'), messages_path %>
  <%= list_link_with_active t('messages.index.sent'), sent_messages_path %>
  <%= list_link_with_active t('messages.index.trash'), trash_messages_path %>
  <%# TODO: be able to select people on the messages page %>
  <!-- <li class="compose"><%= link_to t('messages.new.header'), new_message_path %></li> -->
</ul>