<% if message.sender == current_person %>
  <% other_person = message.recipient %>
  Sent to <%= name_link other_person %>
<% else %>
  <% other_person = message.sender %>
  Sent by <%= name_link other_person %>
<% end %>
<br />
<span class="time"><%= time_ago_in_words message.created_at %> ago</span>
      <div class="status-mail">
        <%= email_link other_person, :replying_to => message,
                                          :rowclass => rowclass %>
      </div>
