<% if message.sender == current_person %>
  <% other_person = message.recipient %>
  <h2>Sent to <%= name_link other_person %></h2>
<% else %>
  <% other_person = message.sender %>
  <h2>Sent by <%= name_link other_person %></h2>
<% end %>
<div><%= name_link message.sender %></div>
<div class="status-mail">
  <%= email_link other_person, :replying_to => message %>
</div>
