<h1>Editing message</h1>

<%= error_messages_for :message %>

<% form_for(:message,
            :url => edit_person_message_url(current_person, @message)) do |f| %>
  <p>
    <b>Content</b><br />
    <%= f.text_field :content %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
