<h1>Contact request</h1>

<p>You have a contact request from <%= @contact.name %></p>

<% form_for(@connection) do |f| %>
  <p>
    <%= f.submit "Accept" %>
    <%= f.submit "Decline" %>
  </p>
<% end %>
