<% flash.each do |key, msg| %>
  $('#membership_wrapper').before("<div id='flash_<%= key %>'><%= escape_javascript(flash.discard(key)) %></div>");
  $('#flash_<%= key %>').fadeOut(5000,function() { $(this).remove(); });
<% end %>
$('a#join_group').parent().show();
