<ul>
  <%- @forum.topics.each do |topic| -%>
    <li>
      <%= link_to topic.name, forum_topic_path(@forum, topic) %>
      | created <%= time_ago_in_words(topic.created_at) %> ago
    </li>
  <%- end -%>
</ul>
<%= link_to 'Back', forums_path %>
