log/*.log
log/*.out
log/*.pid
tmp/**/*
.DS_Store
doc/api
doc/app
db/schema.rb
db/schema.sql
db/*.sqlite3*
config/database.yml
public/photos/*
uuid.state
nbproject*
index/*
identifier
.project
.#*
tmp/.*
\#*
*~
vendor/**/**/doc/*
rsa_key*
sphinx/*
config/ultrasphinx/*.conf