Capfile
config/deploy.rb
log/*.log
log/*.out
log/*.pid
tmp/**/*
tmp/.*
tmp/profile*
.DS_Store
*.swp
doc/api
doc/app
db/schema.sql
db/*.sqlite3*
config/database.yml
public/photos/*
public/thumbnails
uuid.state
nbproject*
index/*
identifier
secret
.project
.#*
\#*
*~
vendor/**/**/doc/*
vendor/plugins/footnotes/*
rsa_key*
sphinx/*
config/ultrasphinx/*.conf
.bundle
.sass-cache/
.rvmrc
.env
.ruby-gemset
.ruby-version
/public/uploads
.ruby-version

archives/backups/*

doc/
.yardoc