<h2>Wall comment</h2>

<%= error_messages_for :comment %>

<h3>Leave a comment</h3>

<% form_for :comment, :url => person_comments_path(@person) do |f| %>
  <div class="form_row">
    <%= f.text_area :body %>
  </div>
  
  <div class="form_row">
    <%= submit_tag "Submit", :class => "button" %>
  </div>
<% end %>