<<<<<<< HEAD:app/views/people/_common_contacts.html.erb
<%- if logged_in? && !@common_connections.empty? -%>
    <h2>Common Contacts</h2>
    <ul class="grid contacts medium">
      <%- @some_common_connections.each do |connection| -%>
    <%= render :partial => 'shared/contact_medium', :locals => {:contact => connection.contact} %>
=======
<%- if logged_in? -%>
  <%- unless @common_contacts.empty? -%>
    <h2>Common Contacts</h2>
    <ul class="grid contacts small">
      <%- @common_contacts.each do |contact| -%>
        <li class="vcard">
          <%= image_link(contact,
                         :image_options => { :class => "photo fn" },
                         :link_options =>  { :class => "url" }) %>
        </li>
>>>>>>> master:app/views/people/_common_contacts.html.erb
      <%- end -%>
    <%- if @common_connections.length > Person::MAX_DEFAULT_CONTACTS -%>
        <li class="more">
          <%= link_to "See all &raquo;", common_contacts_person_path(@person) %>
        </li>
    <%- end -%>
    </ul>
<%- end -%>