<li class="vcard person">
  <div class="profile-image">
    <%= image_link person, :class => "photo", :image => :thumbnail %>
  </div>
  <p><%= person_link person, :class => "url fn" %></p>
  <%= display(truncate(person.description, :length => 150),
              :class => "note") %>
  <div class="clear"></div>
</li>
