<div class="person element clearfix">
  <div class="icon column first span-1">
    <%= image_link person %>
  </div>
  <div class="wrapper column span-<%= LARGER_COLUMN-1 %> last">
    <div class="name">
      <%= person_link person %>
    </div>
    <%- unless person.description.blank? -%>
      <div class="description">
        <%= sanitize(truncate(person.description, 100)) %>
      </div>
    <%- end -%>
  </div>
</div>