<div class="activity clear">
  <%- unless @person.recent_activity.empty? -%>
  <h2>Recent Activity</h2>
     <%= render :partial => 'shared/activity',
                :collection => @person.recent_activity %>
  <%- end -%>
</div>
