<%- if @person.recent_activity.empty? -%>
  <h2>No recent activity</h2>
<%- else -%>
  <h2><%= @person.name %>'s Recent Activity</h2>

  <%- unless @person.last_logged_in_at.nil? or current_person?(@person) -%>
    <p class="meta">
      <%= @person.name %> last logged in 
      <%= time_ago_in_words(@person.last_logged_in_at) %> ago
    </p>    
  <%- end -%>
  
  <ul class="list activity">
     <%= render :partial => 'shared/activity',
                :collection => @person.recent_activity,
                :locals => { :destroy => current_person?(@person),
                             :recent => true } %>
  </ul>
<%- end -%>
