<div class="activity clear">
  <%- unless @person.recent_activity.empty? -%>
  <h1>Recent Activity</h1>
     <%= render :partial => 'shared/activity',
                :collection => @person.recent_activity %>
  <%- end -%>
</div>
