<%= error_messages_for :person %>

<h2>Name</h2>

<% form_for @person do |f| %>
  <div class="form_row">
    <%= f.text_field :name, :maxlength => Person::NAME_LENGTH %>
  </div>
  
  
  <h2>Description</h2>


    <div class="form_row">
      <%= f.text_area :description %>
    </div>
    <div class="form_row">
      <%= f.submit "Update" %>
    </div>
<% end %>