<div class="column first span-14">

<% unless @people.empty? -%>
  <%= will_paginate %>
  <%= raster image_links(@people, :captions => @people.map(&:name),
                                  :image => :thumbnail) %>
  <%= will_paginate %>
<% else %>
  <h2>No results to show.</h2>
<% end -%>

</div>

<%= render :partial => 'shared/minifeed' %>
