<h3 style="clear">About <%= @person.name %></h3>

<div>
  <%= image_tag @person.photos.first.public_filename(:thumbnail) %>
</div>
<p><%= sanitize @person.description %></p>

<%- if logged_in? and @person == current_person -%>
  <%= link_to "Edit profile", edit_person_path(@person) %>
<%- end -%>