<h1><%= t('person_mailer.password_reset_instructions.header') %></h1>

<p><%= t('person_mailer.password_reset_instructions.message') %></p>

<%= link_to t('person_mailer.password_reset_instructions.reset_password'), @edit_password_reset_url %>
