$('#forum_canvas').before('<div id="flash_notice"><%= escape_javascript(flash.delete(:notice)) %></div>');
$('#forum_canvas').html("");
$('#forum_form').html("<%= escape_javascript(render :partial => 'post_form') %>");
