<h1>New topic</h1>

<%= error_messages_for :topic %>

<% form_for :topic, :url => forum_topics_path(@forum)  do |f| %>
  <div class="form_row">
    <%= f.text_field :name %>
  </div>

  <div class="form_row">
    <%= f.submit "Submit" %>
  </div>
<% end %>

<%= link_to 'Back', forum_path %>
