<h2>New topic</h2>

<%= error_messages_for :topic %>

<% form_for :topic, :url => forum_topics_path(@forum)  do |f| %>
  <div class="form_row">
    <%= f.text_field :name %>
    <%= f.submit "Submit", :class => "button" %>
  </div>
<% end %>
