/* Global overrides */

body {
  font-size: 90%;
}

a {
  text-decoration: none;
}

.time {
  font-size: 75%;
  color: #333;
}

/* Logo area */

#logo h1 {
  margin-bottom: 0;
}

#logo h2 {
  font-size: 100%;
}

/* Home page */

div.see_all {
  margin-top: 0;
  margin-bottom: 2em;
  border-bottom: 1px solid #ccc;
}

.secondary div.see_all {
  font-size: 80%;
}

#profile_edit h2 {
  margin-top: 1em;
}

table {
  margin-bottom: 0.5em;
}

/* Feed */

/* Minifeed */

.minifeed {
  font-size: smaller;
}

/* Comment wall */

#wall h3 {
  margin-bottom: 0;
}

#wall textarea {
  height: 5em;
}

.comment table {
  margin-top: 1em;
}

.comment .header {
  font-size: 90%;
  background: #ddd;
  padding: 0 0.2em;
}

.comment .body {
  font-size: 85%;
}

.comment table {
}

.comment td {
  text-align: left;
  padding-top: 0.5em;
  border-bottom: 1px solid #ccc;
  vertical-align: top;
}

.comment td.content {
  width: 100%;
}