/* Global overrides */

body {
  font-size: 90%;
}

a {
  text-decoration: none;
}

/* Logo area */

#logo h1 {
  margin-bottom: 0;
}

#logo h2 {
  font-size: 100%;
}

/* Home page */

div.see_all {
  margin-top: 0;
  margin-bottom: 2em;
  border-bottom: 1px solid #ccc;
}

.secondary div.see_all {
  font-size: 80%;
}

#profile_edit h2 {
  margin-top: 1em;
}

table {
  margin-bottom: 0.5em;
}

/* Comment wall */

#wall h3 {
  margin-bottom: 0;
}

#wall textarea {
  height: 5em;
}

#wall table {
  margin-top: 1em;
}

#wall .header {
  font-size: 90%;
  background: #ddd;
  padding: 0 0.2em;
}

#wall .body {
  font-size: 85%;
}

#wall table {
}

#wall td {
  text-align: left;
  padding-top: 0.5em;
  border-bottom: 1px solid #ccc;
  vertical-align: top;
}

#wall td.content {
  width: 100%;
}