#navlist
{
  padding: 3px 0;
  margin-left: 0;
  border-bottom: 1px solid #778;
  font: bold 1.2em Verdana, sans-serif;
}

#navlist li
{
  list-style: none;
  margin: 0;
  display: inline;
}

#navlist li a
{
  padding: 3px 0.5em;
  margin-left: 3px;
  border: 1px solid #778;
  border-bottom: none;
  background: #DDE;
  text-decoration: none;
}

#navlist li a:link { color: #448; }
#navlist li a:visited { color: #667; }

#navlist li a:hover
{
  color: #000;
  background: #AAE;
  border-color: #227;
}

#navlist li a#current
{
  background: white;
  border-bottom: 1px solid white;
}