body{
	font-family: Helvetica, Arial, Univers, Tahoma, sans-serif;
	font-size: 100%;
	line-height:  1.05em;	
}
p,
li, 
th, 
td{
	font-size:  .85em;
	line-height:  1.4em;
}
li li, li p{
	font-size: 100%;
}
p, 
ul, 
ol, 
blockquote, 
h2, 
h3, 
h4, 
h5, 
h6{
	display:  block;
	margin-bottom: 1em;
}
h2{
	background: url(../images/yellow-grad.jpg) 30px 10px repeat-x;
	border-bottom: 1px solid #ccc;
	color: #069;
	clear: both;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.5em;
	font-weight: normal;
	line-height: 1.4em;
	margin-top: 24px;
	padding-left: 6px;
}
li h2{font-size: 1em;}
h2 a, h3 a{
	font-weight: normal;
}
h3{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.7em;
	font-weight: normal;
}
h3.page-title{
	display: none;
}
h4{
	border-bottom: 1px solid #eee;
	clear: both;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.3em;
	font-weight: normal;
	line-height: 1.4em;
	width: 100%;
}
h5{
	font-size: .75em;
	font-weight: bold;
}
h6{
	font-size: .75em;
	font-weight: bold;
	font-style: italic;
}
ul li{
	list-style-type: disc;
	margin-left: 1.2em;
}
ol li{
	list-style: decimal;
	margin-left: 1.5em;
}

a{
	color: #069;
	font-weight: bold;
	text-decoration: none;
}
blockquote{
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #666666;
	background: #ececec;
	border: 1px solid #ccc;
	padding: 12px;
	margin: 1em;
	font-style: italic;
}
code{
	font-family: "Courier New", Courier, monospace;
	font-size: 1em;
}
pre{
	border: 1px solid #ccc;
	background: #efefef;
	margin: 1em 0;
	padding: 1em;
}

/* Specific elements */
p.welcome{
	color: #fff
}
#footer p{
	font-size: .72em;
	text-align: center;
}

#content li.more{
	background: none;
	border: none;
	clear: both;
	float: none;
	font-size: .72em;
	text-align: right;
	width: 100%;
}

.meta{
	color: #aaa;
	font-size: .72em;
	line-height: 1.8em;
}
p .meta, li p.meta{
	font-size: .85em;
}
.label{
	font-weight: normal;
}
.comments p{
	font-size: .85em;
}

/* Alerty and notifications */
.notify{
	border: 1px solid #FFCC66;
	background-color: #FFFFCC;
	font-size: .72em;
	padding: 6px;
}
.errorExplanation{
	border: 1px solid #FFCC66;
	background-color: #FFFFCC;
	margin-bottom: 1em;
	padding: 1em;
}
.errorExplanation h2{
	background: 0;
	border: 0;
	font-size: 1.2em;
	margin-top: 0;
	padding: 0;
}
.paging{
	border-bottom: 1px solid #eee;
	font-size: .72em;
	padding-bottom: 12px;
	text-align: center;
}





/* Forms */
form{
	border-bottom: 1px solid #ccc;
	padding-bottom: 1em;
	margin-bottom: 2em;
}
input, textarea{
	font-family: Helvetica, Arial, Univers, sans-serif;
	font-size: .85em;
	padding: 6px 3px
}
textarea{
	line-height: 1.4em;
}
label {
	display: block;
	font-size: .85em;
	font-weight: bold;
	margin-bottom: .5em;
}
input, textarea, select{
	margin-bottom: 1em;
}
input.button, button, input[submit], input[button]{
	background: #e5e5e5;
	border: 1px solid #ccc;
	clear: both;
	display: block;
	font-family: Helvetica, Arial, Univers, sans-serif;
	font-size: .72em;
	padding: 3px 12px;
}
.col1 textarea{
	width: 648px;
}
body.single-col .col1 form input{
	width: 312px;
}
label.checkbox{display: inline; float: left;margin-right: 12px;}
body.single-col .col1 form input.checkbox{
	display: inline;
	float: left;
	width: auto;
}
