<li class="vcard person">
  <div class="profile-image">
    <%= group_image_link group, :class => "photo", :image => :thumbnail %>
  </div>
  <p><%= link_to(group.name, group, :class => "url fn") %></p>
  <%= display(group.description, :class => "note") %>
</li>
