<div class="profile vcard">
  <%- if @membership && @membership.is?(:admin) -%>
    <%= render 'shared/group_admin_alert' %>
  <%- end -%>
  <div class="row">
    <div class="span9">
      <%= display @group.description %>
      <%= render 'toolbox' %>
    </div>
    <%= render 'shared/minifeed' %>
  </div>
</div>
