<span class='req small' style='float:right;'><%= link_to "New req", new_req_group_path(@group), {:class => 'show-follow'} %></span>
      <h2><%= t('reqs.index.header') %><%= waiting_image %></h2>
      <ul class="list activity full">
        <%= render :partial => '/reqs/req', :collection => @group.reqs %>
      </ul>
