$('#reqs_canvas').html('<%= escape_javascript(render :partial => 'reqs_canvas') %>');
<% flash.each do |key, msg| %>
  $('#reqs_canvas').before("<div id='flash_<%= key %>'><%= escape_javascript(flash.delete(key)) %></div>");
  $('#flash_<%= key %>').fadeOut(5000,function() { $(this).remove(); });
<% end %>     
