<tr>
  <td><%= image_link activity.person %></td>
  <td>
    <%= feed_message activity %>
    <span class="time">
      <%= time_ago_in_words(activity.created_at).capitalize %> ago
    </span>
  </td>
</tr>