<% if logged_in? -%>
  <div class="status-btn">
    <input style="float:right;" type="button" name="update" value="New Service" id="update-submit" class="round-btn" onclick="document.location='<%= new_category_path %>';" />
  </div>
<% end -%>
