<% if logged_in? -%>
  <div class="status-btn">
    <input type="button" name="update" value="<%= button_text %>" id="update-submit" class="btn btn-primary" onclick="document.location='<%= new_resource_path %>';" />
  </div>
<% end -%>
