<h2><%= h @blog.person.name %>'s Blog</h2>


<%- if current_person?(@blog.person) -%>
  <p><%= link_to "New blog post", new_blog_post_path(@blog) %></p>
<%- end -%> 

<%- if @posts.empty? -%>
  <h3 class="blankslate">
    No blog posts (yet)
  </h3> 
<%- else -%>
  <ul class="list blog full">
    <%= render :partial => 'posts/blog_post', :collection => @posts %>
  </ul>
<%- end -%>

<%= will_paginate(@posts) %>
