<ul class="grid contacts medium">
  <%- contacts.each do |contact| -%>
    <li class="vcard contact"><span>
      <%= image_link contact, :image_options => { :class => "photo" },
                              :link_options => { :class => "url" },
                              :vcard => true,
                              :image => :bounded_icon %>
  </span></li>
  <%- end %>
</ul>