<li class="vcard contact">
  <%= image_link contact, :image_options => { :class => "photo" },
                          :link_options => { :class => "url" },
                          :vcard => true,
                          :image => :bounded_icon %>
</li>