  <div id="debug">
    <a href="#" onclick="Element.toggle('env_debug_info');return false">
    env</a> |
    <a href="#" onclick="Element.toggle('request_debug_info');return false">
    request</a>
    <fieldset id="env_debug_info" class="debug_info" style="display: none">
      <legend>env</legend>
      <%= debug(request.env) %>
    </fieldset>
    <fieldset id="request_debug_info" class="debug_info" 
              style="display: none">
      <legend>request</legend>
      <%= debug(request) %>
    </fieldset>
  </div>