<% flash.each do |key, msg| %>
  $('#<%= canvas_id %>').before("<div id='flash_<%= key %>'><%= escape_javascript(flash.delete(key)) %></div>");
  $('#flash_<%= key %>').fadeOut(5000,function() { $(this).remove(); });
<% end %>     
