<div id="footer">
  <p id="footer-nav">
    <a href="/">Dashboard</a> | <a href="/messages">My Messages</a> | <a href="/people">People</a> | <a href="/forums">Forum</a>
  </p>
  <p class="powered_by"><a href="http://insoshi.com/">Powered by Insoshi</a></p>
</div>