<div id="footer">
  <p id="footer-nav">
    <a href="/">Dashboard</a> | <a href="/messages">My Messages</a> | <a href="/people">People</a> | <a href="/forums">Forum</a>
  </p>
  <%= render :partial => 'shared/powered_by', :class => 'powered_by' %>
</div>