
<a href="http://www.opensourcecurrency.org">
  oscurrency
</a> 

is available under the 

<a href="https://github.com/oscurrency/oscurrency/blob/master/LICENSE" target="_blank">GNU Affero General Public License</a>.
