<div style='width:320px;float:right;'>
  <h2><%= t('shared.minifeed.activity') %></h2>
<ul class="list activity small">
    <%= render :partial => 'shared/minifeed_item',
               :collection => Activity.group_feed(@group.id) %>
</ul>
</div>
