<div class="column last span-6">
  <table class="minifeed">
  <%- Event.feed.each do |event| -%>
  <tr>
    <td><%= image_link event.person %></td>
    <td><%= minifeed_message event %></td>
  </tr>
  <%- end -%>
  </table>
</div>