<%- unless minifeed_item.item.nil? -%>
  <li>
    <div class="profile-image">
    <%= image_link minifeed_item.person %>
  </div>
  <p><%= minifeed_message minifeed_item %></p>
  <p class="meta published">
    <%= time_ago_in_words minifeed_item.created_at %> ago
  </p>
  </li>
<%- end -%>
