<%- if logged_in? -%>
  <h2>Minifeed</h2>
  <ul class="list activity small">
    <%= render :partial => 'shared/minifeed_item',
               :collection => current_person.feed %>
  </ul>
<%- end -%>