<span class='neighborhood_filter hide'>
<%= 
    collection_select( filtered_obj, 
                       'neighborhood_ids', 
                       Neighborhood.all(:order => "parent_id, name").sort_by { |a| a.long_name },
                       :id, 
                       :long_name, 
                       { :include_blank => true, :selected => selected_neighborhood }
                     ) 
%>
</span>
