<!-- <p class='formatting'><span>Select<br />multiple</span>Mac: command <br />Win: control</p> -->
<p class='formatting'><%= t('shared.multiple_select_label') %></p>
<%=
    collection_select( model_name,
                      'neighborhood_ids',
                      @all_neighborhoods,
                      :id,
                      :long_name,
                      {:selected => logged_in? ? current_person.neighborhoods.map(&:id) : []},
                      {:multiple => true, :size => '10'}
                      )
%>
