<!-- <p class='formatting'><span>Select<br />multiple</span>Mac: command <br />Win: control</p> -->
<p class='formatting'><%= t('shared.multiple_select_label') %></p>
<%=
    collection_select( model_name,
                      'category_ids',
                      @all_categories,
                      :id,
                      :long_name,
                      {},
                      {:multiple => true, :size => '10'}
                      )
%>
