<% if global_prefs.sidebar_title != "" %>
  <div id="sidebar">
    <h2><%= global_prefs.sidebar_title -%></h2>
    <div id="sidebar_body">
      <%= global_prefs.sidebar_body -%>
    </div>
  </div>
<% end %>