<%- unless person.contacts.empty? -%>
<%= raster image_links(@contacts, :links => @contacts),
           :title => "Contacts" %>
<div class="see_all">
  <%= link_to "All contacts &raquo;", person_connections_path(person) %>
</div>
<%- end -%>