<%- unless current_person.contacts.empty? -%>
<%= raster image_links(@contacts, :links => @contacts),
           :title => "My Contacts" %>
<div class="see_all">
  <%= link_to "All contacts &raquo;", connections_path %>
</div>
<%- end -%>