    <h2>Your Active Bids/Work</h2>
<%- if @bids.empty? -%>
    <h3 class="blankslate">No active bids</h3>
<%- else -%>
<ul class="list full">
    <%= render :partial => '/shared/bid', :collection => @bids %>
  </ul>
<%- end -%>
    <h2>Your Active Offers</h2>
<%- if @offers.empty? -%>
    <h3 class="blankslate">No active offers</h3>
<%- else -%>
<ul class="list full">
    <%= render :partial => '/offers/offer', :collection => @offers %>
  </ul>
<%- end -%>
    <h2>Your Active Requests</h2>
<%- if @reqs.empty? -%>
    <h3 class="blankslate">No active requests</h3>
<%- else -%>
<ul class="list full">
    <%= render :partial => '/reqs/req', :collection => @reqs %>
  </ul>
  <%- end -%>
  <%= render :partial => 'shared/recent_sent_exchanges' %>
