<div class="module">
  <div class="heading">Events feed</div>
  <div class="feed body">
    <ul>
      <li>Michael made a new blog post</li>
      <li>Long uploaded a new photo</li>
      <li>Sumit posted to Topic 25 on the forum</li>
    </ul>
  </div>
</div>