<%# raster has been removed.  Rewrite this partial if you want to use it. %>
<%# raster(image_links(@members, :image => :thumbnail),
           :title => "Network Members") %>
<div class="more">
<%= link_to "See all members &raquo;", people_path %>
</div>