<li>
  <div class="profile-image">
    <%= image_link message.sender %>
  </div>
  <p><span class="field">From:</span> <%= person_link message.sender %></p>
  <p class="meta published">
    <%= time_ago_in_words message.created_at %> ago
  </p>
  <p title="Subject">
    <%= link_to sanitize(truncate(message.subject, 30)), message %>
  </p>
</li>