<%- unless current_person.recent_messages.empty? -%>
  <div class="section">
    <h2>Messages</h2>
    <%= render :partial => 'message',
               :collection => current_person.recent_messages %>
  </div>
  <div class="see_all">
    <%= link_to "All messages &raquo;", messages_path %>
  </div>
<%- end -%>