<h2>Password reminder</h2>

<% form_for :person, :url => password_reminders_path do |form| %>
  <div class="field_row">
    <label for="email">Enter your email address:</label>
    <br />
    <%= form.text_field :email, :maxlength => Person::MAX_EMAIL %>
    <%= set_focus_to "person_email" %>
  </div>
  
  <div class="field_row">
    <%= submit_tag "Send reminder", :class => "submit button" %>
  </div>
<% end %>