<h3>
  <%= t('reqs.show.bids') %>:
</h3>

<% if @req.bids.empty? -%>
  <!-- There are no bids! -->
  <h5 class="blankslate">
    <%= t('reqs.show.nobids') %>
  </h5>
<% else %>
  <!-- Dislaying list of bids! -->
  <ul class="list full bids">
    <%= render :partial => "/bids/bid", :collection => @req.bids %>
  </ul>
<% end %>
