<h2><%= t('reqs.edit.header') %></h2>
<%= bootstrap_form_for @req, :html => {:id => 'edit_req', :class => 'form-horizontal'}, :remote => true do |f| %>
  <%= render :partial => 'form_fields', :locals => {:f => f, :estimate_disabled => true, :notify_members => false, :submit_text => t('button_update')} %>
<% end %>
