<%- column_div :type => :primary do -%>
<h2>Requests</h2>

<%- if @reqs.empty? -%>
    <h3 class="blankslate">No requests (yet!)</h3>
<%- else -%>
  <ul class="list full">
    <%= render :partial => 'req', :collection => @reqs %>
  </ul>
<%- end -%>
<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'searches/box' %>
  <%= render :partial => 'shared/add_req_button' %>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>
