<% column_div :type => :primary do -%>
  <h2>Request</h2>
  <ul class="list full">
    <%= render :partial => @req %>
  </ul>

<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>
