<%- column_div :type => :primary do -%>
  <h2>Create a new address</h2>

  <%= error_messages_for :address %>

  <% form_for :address, :url => person_addresses_path(@person) do |form| %>
    <%= render :partial => 'form', :object => form %>
    <div class="form_row">
      <%= form.submit "Create" %>
    </div>
  <% end %>
<% end %>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'shared/minifeed' %>
<% end %>
