<% column_div :type => :primary do %>
  <h2>Search results</h2>
  <%= will_paginate(@search) %>
    <%- if @results.empty? -%>
      <h3>No results</h3>
    <%- else -%>
      <ul class="list people">
        <%= render :partial => partial(@results), :collection => @results %>
      </ul>
    <%- end -%>
  <%= will_paginate(@search) %>
<%- end -%>

<% column_div :type => :secondary do %>
  <%= render :partial => 'searches/box' %>
<%- end -%>