<% column_div :type => :primary do %>
  <h1>Search results</h1>
  <%= will_paginate(@results) %>
  <div class="search section">
    <%- if @results.empty? -%>
      <h1>No results</h1>
    <%- else -%>
      <%= render :partial => partial(@results), :collection => @results %>
    <%- end -%>
  </div>
  <%= will_paginate(@results) %>
<%- end -%>

<% column_div :type => :secondary do %>
  <%= render :partial => 'searches/box' %>
<%- end -%>