<% offer = offer_box %>

<div class="span4 offer-item">
  <%= offer_image_link offer, image_options: { style: "width: 100%" } %>
  <br />
  <p class="no-margin-bottom"><strong><%= offer.name %></strong></p>
  <small><%= offer.person.business_name %></small>
  <hr />
  <br />
</div>
