<p>
  <b>Email domain:</b>
  <%=h @preferences.email_domain %>
</p>

<p>
  <b>Smtp server:</b>
  <%=h @preferences.smtp_server %>
</p>

<p>
  <b>Email notifications:</b>
  <%=h @preferences.email_notifications %>
</p>


<%= link_to 'Edit', edit_preference_path(@preferences) %>
