<h1>New communication</h1>

<%= error_messages_for :communication %>

<% form_for(@communication) do |f| %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', communications_path %>
