<%- column_div :type => :primary, :id => 'photos' do -%>
  <% if !@photos.empty? %>
    <h2><%= current_person.name %>'s Photos</h2>
    <div class="button_container">
        <div class="button"><%= link_to "Add Photo", new_photo_path() %></div>
        <div class="clear"></div>
    </div>
    <ul class="">
      <%=render :partial=>"shared/photo", :collection => @photos%>
    </ul>
  </div>
  <% else %>
    <h2>No Photos to Show</h2>
  <% end %>
<% end %>