<%= error_messages_for :photo %>

<% form_for @photo, :html => { :multipart => true } do |f| -%>

  <div class="form_field">
    <label for="photo">Upload a photo:</label><br />
    <%= f.file_field :uploaded_data %>
  </div>
  <div class="form_field">
    <%= submit_tag 'Upload' %>
    <%= f.submit "Cancel", :id => "cancel" %>
  </div>
<% end -%>