<% form_for :post, :url => url, :html => { :method => method,
                                           :id => "blogpost" }  do |f| %>

  <div class="form_row">
    <%= f.text_field :title, :size => 30 %>
  </div>

  <div class="form_row">
    <%= f.text_area :body, :rows => 20 %>
  </div>

  <div class="form_row">
    <%= f.submit t('button_submit'), :id => "post_submit", :class => "button" %>
  </div>
<% end %>
