<% form_for :post, :url => url, :html => { :method => method }  do |f| %>

  <div class="form_row">
    <%= f.text_field :title %>
  </div>

  <div class="form_row">
    <%= f.text_area :body %>
  </div>

  <div class="form_row">
    <%= f.submit "Submit" %>
  </div>
<% end %>
