<h1>New post</h1>

<%= error_messages_for :post %>

<%= render :partial => 'blog_form',
           :locals => { :url => blog_posts_path(@blog),
                        :method => :post } %>

<%= link_to 'Back', blog_path(@blog) %>
