<%- column_div :type => :primary do -%>
  
  <h1>Blog</h1>
  <div class="blog section clear">
    <%= render :partial => 'blog_post', :collection => @posts %>
  </div>

  <h2>Add new post</h2>

  <%= render :partial => 'blog_form',
             :locals => { :url => blog_posts_path(@blog),
                          :method => :post } %>

  <%= link_to 'Back', blog_posts_path(@blog) %>

<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>
