<% unless @posts.length == 0 %>
  $('.topic').prepend("<%= escape_javascript(render :partial => '/topics/forum_post', :collection => @posts) %>");
<% end %>
$('#viewers').html("<span class='small'><%= t('topics.show.members_viewing_this_topic', :count => @viewers.length) %></span> <%= escape_javascript(render :partial => '/posts/viewer', :collection => @viewers) %>");
$("abbr.timeago").timeago();
setTimeout(update_topic,<%= @refresh_milliseconds.to_s %>);
