<h2>Forums</h2>

<% for forum in @forums %>
  <div>
    <%= link_to forum_name(forum), edit_admin_forum_path(forum) %>
    <%=h forum.topics_count %> Topics
  </div>
<% end %>
<!-- cannot make more forums yet
<br />

<%= link_to 'New forum', new_admin_forum_path %>
-->