<tr>
  <td><%= image_link person %></td>
  <td><%= person_link person %></td>
  <td>
    <%- activity = person.deactivated? ? "activate" : "deactivate" -%>
    <%= link_to activity, 
                admin_person_path(person, :task => "deactivate"),
                :method => :put %>
    <%# TODO: make/unmake admin %>
  </td>
</tr>