<%- column_div :type => :primary do -%>

  <h2>People Admin</h2>

  <%= will_paginate %>

  <ul class="list people admin">
    <%= render :partial => @people %>
  </ul>
  
  <%= will_paginate %>
<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'searches/box' %>
<%- end -%>