<div class="photo-small">
	<%=link_to image_tag(photo.public_filename(:thumbnail)), photo_path(photo)%><br/>
	<% if current_person == photo.person %>
		<%=link_to "Edit", edit_photo_path(photo) %> |
		<%=link_to image_tag("icons/close.gif"), photo_path(photo), :method => :delete, :confirm => "Do you really want to delete the photo?"%>
	<% end %>
</div>