<%- column_div :type => :primary do -%>
	<h2> Galleries </h2>
	<div id="gallery_list">
			<% @galleries.each do |gallery| %>
				<%=render :partial=>"gallery", :object=>gallery%>
			<%- end -%>
	</div >	
	<%= will_paginate(@galleries) %>

<%- end -%>
<%- column_div :type => :secondary do -%>
	<% if current_person?(@person)%>
	<h2> Toolbox </h2>
	<div class="toolbox">
		<ul>
			<li><%=link_to "Add new gallery", new_gallery_path()%></li>
		</ul>
	</div>
	<% end %>
<%- end-%>