<%= column_div :type => :primary do -%>
<h2><%=h @neighborhood.long_name %></h2>
<ul class="list people">
  <%- if @neighborhood.people.empty? -%>
    <h3 class="blankstate">No neighborhood residents (yet!)</h3>
  <%- else -%>
    <%= render :partial => '/people/person', :collection => @neighborhood.people %>
  <%- end -%>
</ul>
<%- end -%>

<%= column_div :type => :secondary do -%>
<%- end -%>
