$bodyBackground:              #eeeeee;  
$navbarBackground:            #555566;
$navbarBackgroundHighlight:   #555566;
$textColor:                   rgba(0, 0, 0, 1);

$tabBackgroundColor:          #999999;
$tabBackgroundColorLite:      #ddcccc;
$tabTextColor:                #eeeeee;
$tabBorderColor:              #999999;

$btnPrimaryBackground:        #3cb9c6;