/* Main layout */

body {padding-top: 45px;}

@media (max-width: 979px) {
  body {
      padding-top: 0px;
  }
}

pre.debug_dump pre {
  display: inline;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}

.default-group-link {
  float: left;
  margin-top: 3px;
  margin-right: 3px;
}

.group-photo {
  margin-left: 25px;
}

.status-btn {
  padding: 10px 10px 0px 0px;
  text-align: center;
  margin-top:1.5em;
}

div.status-btn input.round-btn {
    background:url('/assets/round-btn.gif');
    width:115px;height:32px;border:0;
    color:#fff;font-size:14px;margin-left:3px;
    font-weight:bold;
    text-transform:lowercase;
}
div.status-btn input.round-btn:hover {background:url('/assets/round-btn-hover.gif');width:115px;height:32px;border:0;color:#169A20;font-size:14px;margin-left:3px;}
div.status-btn input.disabled, div.status-btn input.disabled:hover { background:url('/assets/round-btn.gif'); color: #aaa; cursor:default;}

.col1 {
  float: left;
  width: 560px;
}
.col2 {
  float: right;
  width: 240px;
}
.single-col .col1 {
  margin: 0 210px;
  width: 324px;
}

#footer {
  border-top: 1px solid #ccc;
  clear: both;
  margin-top: 48px;
  padding: 24px 0;
  width: 844px;

}

#license {
  clear: both;
}

/* Welcome message */
p.welcome {
  position: absolute;
  right: 0;
  text-align: right;
  top: 12px;
}


ul li.right_item {
  padding-left: 0px;
}

ul li.middle_item {
  width: 50px;
  padding-left: 0px;
}

ul li.profile_icon_item {
  width: 40px;
  padding-left: 0px;
}

.scope-action {
  background: #FFF6BF; 
  color: #514721; 
  border: 1px solid #FFD324;
}

.privileged-scope-action {
  background: #FCC;
  color: #514721;
  border: 1px solid #C66;
}

.ui-icon {
  display: inline-block !important;
}

/* Site elements */

/* List */
.list {
  margin-right: 6px;
}
.list li {
  border-bottom: 1px solid #eee;
  background: none;
  clear: both;
/*  display: inline;
  float: left;*/
  list-style: none;
  margin: 0 0 12px 6px;
  padding: 0 0 6px 0;
  width: 100%;
}
.list .profile-image {
  clear: left;
  float: left;
  display: inline;
}
.list.full .profile-image {
  float: left;
  width: 72px;
  overflow: hidden;
  position: relative;
  width: 102px;
}
.list.small .profile-image {
  position: relative;
  width: 60px;
}
.list.small li {
  display: block;
}
.list p {
  margin-bottom: 0;
  margin-left: 102px;
}
.list .forum p {
  margin-bottom: 1em;

}
.list.small p {
  font-size: 12px;
  margin-left: 60px;
}
.list.full .profile-image img {
  border: 1px solid #fff;
}
.list .profile-image img.icon {
  position: absolute;
  right: 3px;
  top: 0;
}

.blog p {
  margin-left: 0;
  margin-bottom: 1em;
}
.list li ul {
  margin-bottom: 2em;
}
.list li ul li {
  border: 0;
  margin: 0 0 .5em 0;
  padding-left: 24px;
}

.list li li.reply {
  border-top: 1px solid #eee;
  border-bottom: 0;
  margin-left: 84px;
  margin-top: 12px;
  padding: 12px 0 0;
  width: 398px;
}

/* Grid */
.grid {
  clear: both;
  float: left;
  width: 100%;
}
.grid li {
  background: none;
  display: inline;
  float: left;
  list-style-type: none;
  padding: 0;
}
.col2 .contacts.grid li {
  height: 36px;
  margin: 0 0 6px 6px;
  overflow: hidden;
  width: 36px;
}
.grid.medium li {
  background: url(/assets/blue-grad.jpg) bottom repeat-x;
  border: 1px solid #ccc;
  height: 48px;
  margin: 0 0 12px 6px;
  width: 154px;
}
.grid.medium li, .grid.medium p {
  font-size: 12px;
}
.grid.medium img {
  float: left;
  /*clip: rect(36px, 36px, 36px, 36px);*/
  margin: 0 6px 6px 0;
}
.grid.medium a {
  display: block;
  height: 100%;
  margin: 6px;
}


/* Profile */

.profile .toolbox {
  clear: left;
  float: left;
  margin: 0 12px 12px 0;
  width: 240px;
}
.profile img.photo {
  margin-bottom: 12px;
}
.profile .note {
  margin-left: 252px;
}
.profile .toolbox ul {
  background: url(/assets/blue-grad.jpg) bottom repeat-x;
  border: 1px solid #ccc;
  width: 238px;
}
.profile ul.tools li {
  background: none;
  font-size: 12px;
  list-style-type: disc;
  margin: 6px 6px 6px 2em;
  padding: 0;
}
.profile ul.tools li span.label {
  font-weight: bold;
} 
form#blogpost #post_title, form#blogpost #post_body {
  width: 312px;
}


/* Messages */

#message-nav {
  background: url(/assets/silver-grad.jpg) bottom repeat-x;
  border-bottom: 1px solid #ccc;
  float: left;
  height: 24px;
  position: relative;
  width: 100%;
}
#message-nav li {
  background: none;
  float: left;
  font-size: 12px;
  line-height: 24px;
  list-style-type: none;
  margin: 0;
  text-align: center;
  padding: 0;
  width: 80px;
}
#message-nav li.active a, #message-nav li a:hover {
  background: url(/assets/silver-grad-inv.jpg) bottom repeat-x;
}
#message-nav li.compose {
  background: url(/assets/compose-t.png) top no-repeat;
  float: right;
  line-height: 10px;
  margin: 3px 3px 0;
  width: 154px;
}
#message-nav li.compose a, #message-nav li.compose a:hover {
  background: url(/assets/compose-b.png) bottom no-repeat;
  color: #fff;
  margin-top: 4px;
  padding-bottom: 4px;
}
#message-nav li a {
  color: #333;
  display: block;
  font-weight: normal;
  height: 100%;
}
.message .tools {
  margin-right: 6px;
  text-align: right;
}


/* Bug fixes */
form, div, h2, ul, li {zoom: 1;}
* html .col2 {width: 234px;}
* html .list li li.reply {
  display: inline;
  margin-left: 84px;
  margin-top: 12px;
  padding: 12px 0 0 0;
  width: 398px;
}
* html .list.blog li.post {
  display: inline;
  width: 440px;
}
* html #frmSearch input.txt {
  width: 130px;
}
* html .single-col .col1 {
  margin: 0 105px;
  width: 324px;
}

p.poweredby{
	float:right;
}

div.desc-message{
 	position: relative;
	width:500px;
	margin-bottom:20px;
}



ul.categories
{
}

.categorycol
{
  padding-top:20px;
}
#categoryMenu
{
  float:left;
  width:258px;
}
#categoryMenu2
{
  float:left;
  width:258px;
}

.categoryAdd
{
  float:right;
  font-size: .8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
  padding-right:85px;
}

#filter_reqs_by, #filter_offers_by, #filter_memberships_by {
  width: 140px;
}

p.formatting
{
    color:#333;
    font-size:11px;
    padding:3px;
    border:1px solid #ddd;
    width:240px;
}

/*p.formatting span
{
    float:right;
    text-align:right;
    font-size:12px;
    color:#777;
}*/

.thinking {
  width: 16px;
  height: 16px;
  background-image: url(/assets/loading.gif);
}

div.edit_roles {
  float: right;
  margin: -71px -13px;
  display: inline;
}

div.cancel_membership {
    float: right;
    margin: -20px -19px;
}
div.accept_or_cancel_membership {
    float: right;
    margin: -20px -31px;
}
.grid.medium div.accept_or_cancel_membership a, .grid.medium div.cancel_membership a {
    display:inline;
}

ul.invite_contacts {
    height: 200px;
/*    width: 55%;*/
    overflow: auto;
}
ul.invite_contacts li {
    background: none;
}

ul.invite_contacts li input.check{
    margin-right: 10px;
}

fieldset#creds, fieldset#currency_fields {
  border: 2px solid #CCC;
  padding: 10px;
  margin-bottom: 10px;
}

.openid_registration {
  padding-top: 20px;
}

input#person_openid_identifier, input#person_session_openid_identifier {
  background: url(/assets/login-bg.gif) no-repeat;
  background-color: #fff;
  background-position: 0 50%;
  color: #000;
  padding-left: 18px;
}

#exchanges_chart {
  width: 450px;
}

#monthly_chart {
  width: 510px;
}

#exchanges_canvas h2 {
  background: none;
}

#forum_canvas h2 {
  background: none;
}

#reqs_canvas h2 {
  background: none;
}

#offers_canvas h2 {
  background: none;
}

.req, .offer {
  margin: 10px;
  border-bottom: 1px solid #eee; 
}


.membership_id {
  display: none;
}

#memberships_wrapper .add_to_memberships {
}

#memberships_wrapper .add_to_memberships.hide {
  display: none;
}

#viewers {
  padding-left: 250px;
}

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

.badge-error {
    background-color: #b94a48;
}

.talkable-link-div {
    padding-bottom: 10px;
}

div.error-field {
  color: #b94a48;
}

div.error-field input {
  border-color: #b94a48;
}
