.horizontal-categories {
  font-size: 12px;

  span {
    font-weight: bold;
  }
}

/* Styles to make container changes */
.padded-top {
  padding-top: 20px;
}

@media screen and ( min-width: 768px ) {
  .border-left {
    border-left: 1px solid #ddd;
    padding-left: 20px;
  }

  .border-right {
    border-right:1px solid #ddd;
    padding-right: 2px;
  }
}