.horizontal-categories {
  font-size: 12px;

  span {
    font-weight: bold;
  }
}

/* Styles to make container changes */
.padded-top {
  padding-top: 20px;
}

@media screen and ( min-width: 768px ) {
  .border-left {
    border-left: 1px solid #ddd;
    padding-left: 20px;
  }

  .border-right {
    border-right:1px solid #ddd;
    padding-right: 2px;
  }
}

/* Style for People */
.activity-container{
  margin-top: 10px;
  margin-bottom: 10px;

  .activity-inner {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
  }

  .activity-inner:first-child {
    border-top: 1px solid #eee;
  }

  .req, .offer {
    border-bottom: none;
  }

}

.text-right {
  text-align: right;
}

.poweredby {
  img {
    max-width: 70px;
  }
}

/* Styles for peoples offers */
.offer {
  .pay_now {
    margin-bottom: 20px;
  }

  .primary-paynow-button {
    text-align: center;
    
    .pay_now{
      margin-bottom: 0px;
    }
  }

  .bottom-offer-category-list {
    margin-left: 102px;
  }
}

.req {
  .bottom-req-category-list {
    margin-left: 102px;
  }
}

/* Styling for offers form */

/* The description is expands under other form filds */
#edit_offer, #edit_req {
  textarea {
    max-width: 100%;
  }
}