<h3>Reqs</h3>

<ul>
  <% @report.reqs.each do |req| %>
    <li><%= req.record %> : <%= req.person.try(:name) %></li>
  <% end %>
</ul>

<h3>Offers</h3>

<ul>
  <% @report.offers.each do |offer| %>
    <li><%= offer.record %> : <%= offer.person.try(:name) %></li>
  <% end %>
</ul>
