<li>
<%= link_to h(category.name), category, {:class => "categoryMenuItem" } %> (<%= category.offers.length %>)
  <div>
    <ul>
    <% unless category.children.empty? -%>
      <%= render :partial => '/categories/subcategory', :collection => category.children %>
    <% end -%>
    </ul>
  </div>
</li>
