<li>
<%= link_to category.name, category, {:class => "categoryMenuItem" } %> (<%= category.active_people.length %>)
  <div>
    <ul>
    <% unless category.children.empty? -%>
      <%= render :partial => 'subcategory', :collection => category.children %>
    <% end -%>
    </ul>
  </div>
</li>
