<h2>Providers</h2>
<ul class="list activity small">
  <%- if category.people.empty? -%>
  <h3 class="blankstate">No providers (yet!)</h3>
  <%- else -%>
  <%= render :partial => 'person', :collection => category.people %>
  <%- end -%>
</ul>
