<li>
<%= link_to h(subcategory.name), subcategory %> (<%= subcategory.active_people.length %>)
<% if !subcategory.children.empty? %>
  <ul><%= render :partial => 'subcategory', :collection => subcategory.children %></ul>
<% end %>
</li>
