<%- column_div :type => :primary do -%>
<h2>Categories</h2>

<%- if @categories.empty? -%>
    <h3 class="blankslate">No categories (yet!)</h3>
<%- else -%>
    <ul class="list categories">
      <%= render :partial => @categories %>
    </ul>
<%- end -%>

<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'searches/box' %>
  <%= render :partial => 'shared/add_category_button' %>
<%- end -%>
