<%- column_div :type => :primary do -%>
  <h2><%=h @category.long_name %></h2>
  <%- if @reqs.empty? -%>
    <h3 class="blankstate">No reqs (yet!)</h3>
  <%- else -%>
  <h3>Requests</h3>
  <ul class="list full">
    <%= render :partial => 'reqs/req', :collection => @reqs %>
  </ul>
  <%- end -%>

  <%- if admin? -%>
  <%= link_to 'Edit', edit_category_path(@category) if 0 == @reqs.size %>
  <%- end -%>

<%- end -%>

<%- column_div :type => :secondary do -%>
    <%= render :partial => 'providers', :locals => { :category => @category }  %>
<%- end -%>
